*{
    margin: 0;
}
nav{
    background-color: #faf8f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > img{
    width: 200px;
    padding: 12px;
}
.menu-icon{
   padding: 12px;
}
.section1{
    background-color: #273720;
    color:white;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.top-half-one{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.headline-of-sec{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
}
.head-msg-btn{
    padding: 1rem;
}
.details-para{
    font-size: 1.2rem;
    line-height: 1.4;
}
.search-field{
    height: 50px;
    padding: 1rem 0;
}
.search-field input{
    border-radius: 10px 0 0 10px;
    width:70%;
    height: 100%;
    margin: 0;
}
.pad-1-rm{
    padding: 1rem;
}
.btn{
    border: none;
    margin-left:-5px;
    width: 30%;
    height: 100%;
    background-color: #42ae60;
    color: #fff;        
    border-radius: 0 6px 6px 0;
}
.btn:hover{
background-color: #e6ff4c;
color: #273720;
text-decoration: none;
cursor: pointer;
}
.clients-logo-msg{
    display: flex;
    justify-content: space-around;
    /* padding: 2rem; */
}
.clients-logo-msg p{
    text-align: center;
    padding: 1rem;
}
.logo-container{
    display: flex;
    justify-content: space-around;
}
.client-logo{
    width:30%;
    padding: 0 1rem;
}
.section2{
        background-color: #faf8f7;
        color:black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4rem 1rem;
}
.section2-container-1{
    text-align: center;
}
.btn2{
    border: none;
    width: 10rem;
    background-color: #42ae60;
    padding: 1rem;
    color:white;
    font-size: 16px;
    border-radius: 6px;
}
.btn2:hover{
   background-color: #e6ff4c;
   color:black;
}
.horizantal-line {
    width: 90%;
    border-color: #46594b;
    opacity: 0.5;
}
.section2-container-2{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;

}
.img-container , .menu-container{
    width: 50%;
    padding: 2rem;
}
.img-at-mid-section2{
    align-items:center;
    width: 50%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.sub-section-msg{
    padding: 1em 0;
}
.para-sub-sec-msg{
    width: 90%;
    font-size: 20px;
    font-weight: normal;
    padding: 0  0 20px 0;
}
.img2-at-mid-section2{
    align-items:center;
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.section3{
    background-color: #273720;
    color:white;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.card{
    width:100%;
    background-color: #D2EBD5;
    color: black;
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
}

.top-half-sec3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-sub-section{
    width: 100%;
    display: inline-block;
    padding: 1rem;
    justify-content: space-around ;
}
.footer-logo{
    position: absolute;
    margin-top: 45px;
}
.footer-options{
    display: flex;
    padding: 1rem;
    width: 100%;
    justify-content: space-around;
}
.h1-headline{
    font-family: 'Times New Roman', Times, serif;
    font-weight:lighter;
    font-size: 48px;
}
.p-t-2rem{
    padding:  2rem 0;
}














@media screen and (max-width: 479px){
    .top-half-one{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
    }
    .btn{
        border: none;
        margin-left:-5px;
        width: 30%;
        height: 100%;
        background-color: #42ae60;
        color: #fff;        
        border-radius: 0 6px 6px 0;
    }
    .btn:hover{
        background-color: #e6ff4c;
        color: #273720;
        text-decoration: none;
        cursor: pointer;
    }
    .demo-img-container{
        width:90%;
    }
    .demo-image{
        width: 100%;
        border-radius: 10px;
    }
    .clients-logo-msg{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 2rem;
    }
    .btn2{
        border: none;
        width: 90%;
        background-color: #42ae60;
        padding: 1rem;
        color:white;
        font-size: 16px;
        font-weight: 400;
        border-radius: 6px;
    }
    .btn2:hover{
       background-color: #e6ff4c;
       color:black;
    }
    .sub-section{
        width:90%;
        margin-top: 30px;
        padding: 30px 0;
    }
    .horizantal-line {
        width: 90%;
        border-color: #46594b;
    }
    .clients-info{
        width:90%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .sub-section-msg{
        font-size: 1.4rem;
        padding: 20px 0;
    }
    .horizantal-line {
        width: 90%;
        border-color: #46594b;
        opacity: 0.5;
    }
    .section2-container-2{
        display: flex;
        flex-direction: column;
    }
    .img-container , .menu-container{
        width: 90%;
    }
    .img-at-mid-section2{
        align-items:center;
        width: 90%;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .sub-section-msg{
        padding: 1em 0;
    }
    .para-sub-sec-msg{
        width: 90%;
        font-size: 20px;
        font-weight: normal;
        padding: 0  0 20px 0;
    }
    .img2-at-mid-section2{
        align-items:center;
        /* width: 100%; */
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .section3{
        background-color: #273720;
        color:white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2rem;
    }
    .card{
        width:90%;
        background-color: #D2EBD5;
        color: black;
        padding: 1rem;
        text-align: center;
        border-radius: 10px;
    }
    .footer-sub-section{
        /* width: 100%;F */
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }
    .footer-logo{
        position: relative;
        margin-left: 45px;
    }
    .h1-headline{
        font-family: 'Times New Roman', Times, serif;
        font-weight:lighter;
        /* text-align: center; */
        font-size: 48px;
        padding: 2rem 0;
    }
   


}